# Ignore folders.
.storage
.cloud
.google.token
tts
nest

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
zones.yaml
kumo_cache.json

home-assistant.log
home-assistant.log.1
home-assistant.log.fault
image
*.db
*.db-shm
*.db-wal
*.pyc
rclone.conf

.ha_run.lock
