{
	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				allow 10.70.4.1/32 10.70.14.7/32
			}
			tls
		}
	}
}

home.axeltech.com:443 {
  reverse_proxy homeassistant.local.hass.io:8123

  header {
    # enable HSTS
    Strict-Transport-Security max-age=31536000;
  }
}
